section.job .card-section {
	padding-bottom: 0;
}

.job-offer {
	display: flex;
	flex-flow: column nowrap;
	font-size: 0.9em;
	padding: 1rem;
	margin-bottom: 1rem;
	color: black;
}

.job-offer:not(.no-height) {
	min-height: 270px;
}

.job-offer p {
	margin-bottom: 0;
}

.job-offer .fill {
	flex: 1;
}

.job-offer .position {
	font-weight: bold;
}

.job-offer .entity-location,
.job-offer .date {
	font-size: 0.95em;
	color: #575757;
}

.job-offer img {
	width: 64px;
	height: 64px;
}