$foundation-palette: (
        primary: #23a3ba,
        secondary: #767676,
        success: #3adb76,
        warning: #ffae00,
        alert: #cc4b37,
);

$body-background: #e6e6e6;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;


$topbar-background: map-get($foundation-palette, primary) !global;
$topbar-submenu-background: $light-gray;

.top-bar .menu:not(.vertical) > li > a {
    color: $light-gray;

    &:hover,
    &:focus {
        color: $topbar-background;
        background-color: $light-gray;
    }
}
